.Containerlight {
    background-color: white;
}

.Containerdark{
    background-color: rgba(50, 12, 82, 0.886);
    min-height: 100vh;
    height: auto;
}

.form-check-input:checked {
    background-color:rgba(50, 12, 82, 0.886);
}

.form-check-input{
    border-color: rgba(151, 121, 176, 0.886);
}