h2{
    color: rgba(72, 34, 125, 0.778);
    font-size: x-large;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.735);
}

.sendButton{
    border-color: rgba(169, 108, 255, 0);
    background-color: rgba(169, 108, 255, 0.566);
    color: rgba(255, 255, 255, 0.735);
    padding: 10px;
    border-radius: 10px;
}

.sendButton:hover{
    box-shadow: 2px 4px rgba(169, 108, 255, 0.662)
}

.inputChat{
    bottom: 0;
    margin-top: 3vh;
    margin-bottom: 3vh;
    position: absolute;
}

.notmine{
    background-color: rgba(169, 108, 255, 0.698);
    border-radius: 10px;
    width: 66vw;
    margin-left: 5vw;
}

.chatBox{
    width: 80vw;
}

.listStyle{
    list-style: none;
}

.mine{
    background-color: #ebb000;
    border-radius: 10px;
    margin-left: 15vw;
    width: 66vw;
}

.subText{
    font-size: x-small;
    color: rgba(255, 255, 255, 0.754);
    margin-left: 10px;
}

.chatText{
    margin-left: 10px;
    color:rgba(255, 255, 255, 0.945);
}