.detailCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 75vh;
    margin-left: 10vw;
    margin-top: 10vh;
}

.productImageCarousel{
    width: 270px;
    height: 320px;
    text-align: center;
}

.carouselColor{
    background-color:rgba(0, 0, 0, 0.175);
    border-radius: 10px;;
    text-align: center;

}

.productTextContainer{
    margin-top: 5vh;
}

.closeButton{
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: rgba(121, 119, 121, 0.37);
    text-align: end;
    font-size:xx-large;
}