.LoginForm{
    margin-top: 15vh;
    margin-bottom: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to right, #ffc107c6, rgba(169, 108, 255, 0.746));
}

.LoginBox{
    background-color: rgba(0, 0, 0, 0.084);
    padding: 50px;
}

.registerBox{
    margin-top: 30px;
}

.transparent{
    background-color: rgba(255, 255, 255, 0.734);
    width: 270px;
}

.LoginButton{
    border-color:rgba(169, 108, 255, 0.879);
    background-color:rgba(169, 108, 255, 0.828);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    width: 270px;
}

.LoginButton:hover{
    box-shadow: 2px 4px rgba(230, 229, 231, 0.778);
    font-weight: 600;
}

.white{
    color: rgba(255, 255, 255, 0.829);
}


.signupButton{
    border-color: rgba(169, 108, 255, 0.566);
    background-color: rgba(255, 255, 255, 0.789);
    color: rgb(169, 108, 255);
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}

.signupButton:hover {
    font-weight: 600;
    box-shadow: 2px 4px rgba(169, 108, 255, 0.778);
}

.registrationButton{
    border-color: rgba(169, 108, 255, 0.566);
    background-color: rgba(255, 255, 255, 0.862);
    color: rgb(169, 108, 255);
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    width: 200px;
}

.registrationButton:hover {
    font-weight: 600;
    box-shadow: 2px 4px rgba(169, 108, 255, 0.778);
}

h1{
    color: rgba(255, 255, 255, 0.953);
    padding: 15px;
}

.p-grey{
    color:#2c2b2aaa;
    font-size: small;
}

.GoogleButton{
   margin-left: 16px;
}

/* UserAccount.js */
.userName{
    color: rgba(72, 34, 125, 0.778);
    font-size: larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.underlineButton{
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.925);
    font-size: large;
}


